<?xml version="1.0" encoding="UTF-8" ?>
<!--引入dtd约束，不能出错-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="mysql">
        <environment id="mysql">
            <!--数据库事务管理器：目前固定写法JDBC，
            mybatis内部用的是JDBC的事务管理：
            Connection：setAutoCommit(false),commit(),rollback()
            -->
            <transactionManager type="JDBC"/>
            <!--数据源（连接池）：POOLED，使用mybatis内置的数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis_db"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册映射文件-->
    <mappers>
        <mapper resource="mappers\UserMapper.xml" />
    </mappers>
</configuration>